<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            }

    </style>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        
        <div class="jumbotron">
            <h2 style="text-align:center">Check out our highlighted meals of the week!</h2>
            <br>
            <p style="text-align:center"> Click on the 'Recipes' tab up top to see what our most popular dishes were last week. </p>
        </div>
        <img src="/images/cheff.png" alt="yeet" class="center" >
        <p style="text-align:center">My name is Gordan and I approve this messege. </p>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>