<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>  


<main>
<div class="row">
    <div class="col-sm">
        <div class="jumbotron">
            <h1>Show casing our top 3 items of the Week! </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm">
       <h2>  Sheet Pan Shrimp Fajitas </h2>
        <img src="/images/shrimp.jpeg" alt="yeet" class="img-thumbnail" height="250" width="250">
        <p>  </p>
        <h3>Ingredients</h3>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1 1/2 pounds of shrimp peeled and deveined
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1 yellow bell pepper sliced thin
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1 red bell pepper sliced thin
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1 orange bell pepper sliced thin
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1 small red onion sliced thin
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1 1/2 tablespoons of extra virgin olive oil
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1 teaspoon of kosher salt
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                several turns of freshly ground pepper
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                2 teaspoon of chili powder
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1/2 teaspoon of garlic powder
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1/2 teaspoon of onion powder
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1/2 teaspoon of ground cumin
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1/2 teaspoon of smoked paprika
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                lime
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                fresh cilantro for garnish
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                tortillas warmed
            </label>
          </div>
          <p></p>
        <h3>Instructions</h3>
        <ol>
            <li>Preheat oven to 450 degrees</li>
            <li> In a large bowl, combine onion, bell pepper, shrimp, olive oil, salt and pepper and spices.            </li>
            <li>Toss to combine </li>
            <li>Spray baking sheet with non stick cooking spray</li>
            <li>Spread shrimp, bell peppers and onions on baking sheet. </li>
            <li>Cook at 450 degrees for about 8 minutes. Then turn oven to broil and cook for additional 2 minutes or until shrimp is cooked through. </li>
            <li>Squeeze juice from fresh lime over fajita mixture and top with fresh cilantro </li>
            <li>Serve in warm tortillas.
            </li>
        </ol>
        <h3> Nutrition facts:</h3>
        <ul>
            <li>CALORIES: 600KCAL</li>
            <li>CARBOHYDRATES: 21G</li>
            <li>PROTEIN: 56G</li>
            <li>FAT: 23G</li>
            <li>SATURATED FAT: 8G</li>
            <li>CHOLESTEROL: 4MG</li>
            <li>SODIUM: 325MG</li>
            <li>POTASSIUM: 250MG</li>
            <li>SUGAR: 2G</li>
            <li>FIBER: 4G</li>
            <li>VITAMIN A: 201IU</li>
            <li>VITAMIN C: 35MG</li>
            <li>CALCIUM: 175MG</li>
            <li>IRON: 23MG</li>
        </ul>
      </div>
      <div class="col-sm">
        <h2> Crispy Sesame Tofu with Zucchini Noodles</h2>
        <img src="/images/noodles.png" alt="yeet" class="img-thumbnail" height="250" width="250">
        <p>  </p>
        <h3>Ingredients</h3>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                ½ cup Peanut butter
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                2 tablespoons Sesame Oil
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                ¼ cup Light low sodium Soy Sauce
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                ¼ cup Rice Vinegar
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1 teaspoon Chilli Flakes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                2 tablespoons Maple Syrup or Honey
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                2-3 Garlic Cloves roughly chopped
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1 knob Ginger peeled and roughly chopped
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1 tablespoon Oil
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                350 gms Firm Tofu cut into small pieces
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Zucchinis spiralized
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Sesame Seeds and Green Onions for topping
            </label>
          </div>
          <p></p>
        <h3>Instructions</h3>
        <ol>
            <li>In a blender or add all the ingredients for the sauce along with a splash of water and blend till smooth. 
                Set aside ¼ cup sauce and divide the rest in the mini sauce containers. You might be left with a little extra 
                sauce which you can reserve for later - it works really well as a salad dressing!</li>
            <li> Heat oil in a pan and add the tofu. As soon as the tofu is a very light brown, 
                add ¼ cup sauce to the pan and toss the tofu in it. Cook everything on low heat. In some time, the sauce will start to evaporate 
                and slowly it will start turning into golden brown and sticking to the pan and tofu. 
                Things will become crispy and you finally you'll be left with crispy browned bits of tofu in the pan.</li>
            <li>To assemble the meal prep containers, divide zucchini noodles in the containers. Divide the tofu amongst the containers and 
                place the mini sauce containers on one side. Place the lid and refrigerate for up to 5 days. </li>
        </ol>
        <h3> Nutrition facts:</h3>
        <ul>
            <li>CALORIES: 397KCAL</li>
            <li>CARBOHYDRATES: 16G</li>
            <li>PROTEIN: 18G</li>
            <li>FAT: 31G</li>
            <li>SATURATED FAT: 31G</li>
            <li>CHOLESTEROL: 10MG</li>
            <li>SODIUM: 971MG</li>
            <li>POTASSIUM: 272MG</li>
            <li>SUGAR: 10G</li>
            <li>FIBER: 3G</li>
            <li>VITAMIN A: 148IU</li>
            <li>VITAMIN C: 1MG</li>
            <li>CALCIUM: 147MG</li>
            <li>IRON: 2MG</li>
        </ul>
      </div>
      <div class="col-sm">
        <h2> Sweet Potato Black Bean Quinoa Bowls</h2>
        <img src="/images/sweetbowl.png" alt="yeet" class="img-thumbnail" height="250" width="250">
        <p></p>
        <h3>Ingredients</h3>
        <br>
        <h5>Roasted Sweet Potato:</h5>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1 large sweet potato, peel and diced
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1 large sweet potato, peel and diced
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1/2 teaspoon chili powder
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1/4 teaspoon cumin
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1/4 teaspoon kosher salt
            </label>
          </div>
          <br>
        <h5>Quinoa:</h5>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                3/4 cup red quinoa
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1 3/4 cups water
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1/2 teaspoon kosher salt, divided
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1/2 teaspoon chili powder
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1/2 teaspoon cumin
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1/4 teaspoon garlic powder
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Juice of half a lime
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                2 tablespoon cilantro, chopped
            </label>
          </div>
          <br>
        <h5>Cilantro Cream Drizzle:</h5>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1/4 cup plain non fat Greek yogurt

            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1/4 cup cilantro, chopped
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                1/4 teaspoon agave nectar or honey
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Juice of half a lime
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Pinch of salt, garlic powder, and chili powder
            </label>
          </div>
          <p></p>
        <h3>Instructions</h3>
        <h5> Roasted Sweet Potato: </h5>
        <ol>
            <li>Preheat oven to 425 degrees then line a baking sheet with foil and spray it with cooking spray.</li>
            <li> Toss the diced sweet potato in the olive oil and spices and lay it out in an even layer on the prepared baking sheet. 
                Roast the sweet potato for 12-15 minutes or until it is fork tender.</li>
        </ol>
        <h5> Quinoa: </h5>
        <ol>
            <li>Rinse and drain the red quinoa then put it in a medium sized sauce pan with the water and 1/4 teaspoon of kosher salt. Bring the quinoa to a boil, then cover it with a lid and lower the heat to medium low. 
                Cook the quinoa for about 15 minutes, until all of the liquid is absorbed.</li>
            <li> Remove quinoa from the heat and season with the remaining 1/4 teaspoon of
                 kosher salt, chili powder, cumin, garlic powder, lime juice, and cilantro. </li>
        </ol>
        <h5> Cilantro Cream Drizzle:</h5>
        <ol>
            <li>In a blender add all of the ingredients and blend until smooth.</li>
        </ol>
        
        <h3> Nutrition facts:</h3>
        <ul>
            <li>CALORIES: 300KCAL</li>
            <li>CARBOHYDRATES: 52G</li>
            <li>PROTEIN: 14G</li>
            <li>FAT: 5G</li>
            <li>SATURATED FAT: 1G</li>
            <li>CHOLESTEROL: 1MG</li>
            <li>SODIUM: 635MG</li>
            <li>POTASSIUM: 617MG</li>
            <li>SUGAR: 3G</li>
            <li>FIBER: 9G</li>
            <li>VITAMIN A: 6453IU</li>
            <li>VITAMIN C: 1MG</li>
            <li>CALCIUM: 75MG</li>
            <li>IRON: 4MG</li>
        </ul>
    
      </div>
    </div>
  </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>


</body>
</html>